.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
}

.contain {
  height: 18rem;
  /* width: 40vw; */
  background-color: rgba(225, 42, 42, 0.849);
  border-radius: 22px;
  padding: 20px;
  position: relative;
}

.count {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  float: left;
  position: absolute;
  top: -10px;
  left: -10px;
  margin: 0;
  font-size: 20px;
  color: black;
  display: inline-block;
}

.btn {
  height: 20px;
  width: 20px;
  border-style: none;
  margin: 0px 5px;
  overflow: hidden;
  padding: 1px 1px;
  font-size: 18px;
}

.btn:hover {
  border-style: none;
}

.title {
  font-size: 0.88rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
}

.desc {
  text-align: center;
  color: #777;
}

.contain:hover {

  background-color: rgba(255, 20, 20, 0.857);

}


@media screen and (max-width: 1100px) {
  .container {
    width: 50%;
  }

  .contain {
    height: 25rem;
  }

  .desc {
    font-size: 24px;
  }

  .title {
    margin-top: 25px;
    font-size: 0.8rem;
  }

  .price {
    margin-top: 25px;
  }

  .btn {
    margin: 0px 15px;
    font-size: 19px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .contain {
    height: 25rem;
  }

  .desc {
    font-size: 24px;
  }

  .title {
    margin-top: 25px;
    font-size: 0.7rem;
  }

  .price {
    margin-top: 25px;
  }

  .btn {
    margin: 0px 15px;
    font-size: 19px;
  }
}
