.serviceContainer {
  min-height: 75vh;
  min-width: 90vw;
  margin-top: 20px auto;

}
.serviceContainer h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  color: rgb(243, 64, 24);
  margin-bottom: 15px;
  }
.serviceContainer h2 {
  font-family:Arial, Helvetica, sans-serif;

  text-align: center;
  font-size: 1.5rem;
  color: rgb(243, 64, 24);
  font-weight: 500;

  margin: 0;
}

.serviceContainer p {
  text-align: center;
}

.imgFluid {
  width: 90%;
  height: 70%;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
}

.serviceContainerBg {
  background-color: rgba(255, 255, 255, 0.11);
  padding-top: 50px;
  margin-top: 50px;

}
.col{
  background-color: rgba(100, 255, 39, 0.501);
  border-radius: 10px;
  margin: 15px auto;

}
/* 
.col2 {
  border-radius: 10px;
  margin: 15px auto;
} */

.col:hover{
  background-color: rgba(144, 248, 103, 0.881);
  scale: ;
  border-radius: 10px;

}

@media only screen and (max-width: 1000px) {
  .serviceContainer h1 {    
    margin-top: 20rem;
  }
}